@import "tailwindcss";

@theme {
  --color-primary: #FFE03E;
  --color-secondary: #0B2540;
  
  --font-family-basier: "Basier Circle", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
